<template name="Tempe">
	<div class="page-container container .dynamicDiv { width:250px; height:175px; float: left; border:solid 1px #c0c0c0; background-color:#e1e1e1; font-size:11px; font-family:verdana; color:#000; padding:5px; } .center margin: auto; width: 550px;" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<h3>
			Temperatura ed Umidita'
		</h3>
		<div id="container" class="center">
		</div>
		<div id="container-gauge" style="width: 300px; height: 200px;">
		</div>
	</div>
</template>

