<template name="Cronotermostato">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CronotermostatoView}}{{> Mybutton}}
	</div>
</template>

<template name="CronotermostatoView">
	<div id="cronotermostato-view" class="">
		<h2 id="component-title">
			Programmazione settimanale
		</h2>
		<form id="dataview-controls" class="form-inline">
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> CronotermostatoViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			Non trovata la programmazione settimanale
		</div>
		{{/if}}
	</div>
</template>

<template name="CronotermostatoViewTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="day">
					day
				</th>
				<th class="th-sortable" data-sort="h001">
					00-01
				</th>
				<th class="th-sortable" data-sort="h012">
					01-02
				</th>
				<th class="th-sortable" data-sort="h023">
					02-03
				</th>
				<th class="th-sortable" data-sort="h034">
					03-04
				</th>
				<th class="th-sortable" data-sort="h045">
					04-05
				</th>
				<th class="th-sortable" data-sort="h056">
					05-06
				</th>
				<th class="th-sortable" data-sort="h067">
					06-07
				</th>
				<th class="th-sortable" data-sort="h078">
					07-08
				</th>
				<th class="th-sortable" data-sort="h089">
					08-09
				</th>
				<th class="th-sortable" data-sort="h0910">
					09-10
				</th>
				<th class="th-sortable" data-sort="h1011">
					10-11
				</th>
				<th class="th-sortable" data-sort="h1112">
					11-12
				</th>
				<th class="th-sortable" data-sort="h1213">
					12-13
				</th>
				<th class="th-sortable" data-sort="h1314">
					13-14
				</th>
				<th class="th-sortable" data-sort="h1415">
					14-15
				</th>
				<th class="th-sortable" data-sort="h1516">
					15-16
				</th>
				<th class="th-sortable" data-sort="h1617">
					16-17
				</th>
				<th class="th-sortable" data-sort="h1718">
					17-18
				</th>
				<th class="th-sortable" data-sort="h1819">
					18-19
				</th>
				<th class="th-sortable" data-sort="h1920">
					19-20
				</th>
				<th class="th-sortable" data-sort="h2021">
					20-21
				</th>
				<th class="th-sortable" data-sort="h2122">
					21-22
				</th>
				<th class="th-sortable" data-sort="h2223">
					22-23
				</th>
				<th class="th-sortable" data-sort="h2324">
					23-24
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> CronotermostatoViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="CronotermostatoViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{day}}
		</td>
		<td>
			{{h001}}
		</td>
		<td>
			{{h012}}
		</td>
		<td>
			{{h023}}
		</td>
		<td>
			{{h034}}
		</td>
		<td>
			{{h045}}
		</td>
		<td>
			{{h056}}
		</td>
		<td>
			{{h067}}
		</td>
		<td>
			{{h078}}
		</td>
		<td>
			{{h089}}
		</td>
		<td>
			{{h0910}}
		</td>
		<td>
			{{h1011}}
		</td>
		<td>
			{{h1112}}
		</td>
		<td>
			{{h1213}}
		</td>
		<td>
			{{h1314}}
		</td>
		<td>
			{{h1415}}
		</td>
		<td>
			{{h1516}}
		</td>
		<td>
			{{h1617}}
		</td>
		<td>
			{{h1718}}
		</td>
		<td>
			{{h1819}}
		</td>
		<td>
			{{h1920}}
		</td>
		<td>
			{{h2021}}
		</td>
		<td>
			{{h2122}}
		</td>
		<td>
			{{h2223}}
		</td>
		<td>
			{{h2324}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
	</tr>
</template>

<template name="Mybutton">
	<div id="container" align="center">
		<div style="width:33%; float:left">
			<div class="switch demo4" align="center">
				<input type="checkbox" id="riscaldamento" checked="{{riscaldamento}}">
				<label>
					<i class="icon-off">
					</i>
				</label>
				<div style="font-style:italic">
					Riscaldamento
				</div>
			</div>
		</div>
		<div style="width:33%; float:left">
			{{#if flame}}
			<img src="images/flame.gif" alt="Fiamma" border="5" style="width:152px;height:114px">
			{{else}}
			<img border="5" style="width:152px;height:114px">
			{{/if}}
		</div>
		<div style="width:33%; float:left">
			<div class="switch demo4" align="center">
				<input type="checkbox" id="termostato" checked="{{termostato}}">
				<label>
					<i class="icon-off">
					</i>
				</label>
				<div style="font-style:italic">
					Termostato
				</div>
			</div>
		</div>
	</div>
</template>

