<template name="Caldaia">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CaldaiaView}}
	</div>
</template>

<template name="CaldaiaView">
	<div id="caldaia-view" class="">
		<h2 id="component-title">
			Configurazione caldaia
		</h2>
		<form id="dataview-controls" class="form-inline">
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> CaldaiaViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			Errore! non rilevato niente
		</div>
		{{/if}}
	</div>
</template>

<template name="CaldaiaViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th>
					Stato Riscaldamento
				</th>
				<th>
					Stato del Termostato
				</th>
				<th>
					Sensore utilizzato dal termostato
				</th>
				<th>
					Intervallo letture
				</th>
				<th>
					Isteresi
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> CaldaiaViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="CaldaiaViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="statoriscaldamento" {{checked statoriscaldamento}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="statotermostato" {{checked statotermostato}}>
		</td>
		<td>
			{{sensoretermostato}}
		</td>
		<td>
			{{timescheduler}}
		</td>
		<td>
			{{isteresi}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
	</tr>
</template>

