<template name="CaldaiaDettagli">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CaldaiaDettagliDettagliForm}}
	</div>
</template>

<template name="CaldaiaDettagliDettagliForm">
	<div id="caldaia-dettagli-dettagli-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Dettagli caldaia
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-statoriscaldamento">
				<label for="statoriscaldamento">
					Stato Riscaldamento
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-statoriscaldamento">
						{{caldaia_dettaglio.statoriscaldamento}}
					</p>
				</div>
			</div>
			<div class="form-group  field-statotermostato">
				<label for="statotermostato">
					Stato del Termostato
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-statotermostato">
						{{caldaia_dettaglio.statotermostato}}
					</p>
				</div>
			</div>
			<div class="form-group  field-statocaldaia">
				<label for="statocaldaia">
					Stato della Caldaia
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-statocaldaia">
						{{caldaia_dettaglio.statocaldaia}}
					</p>
				</div>
			</div>
			<div class="form-group  field-sensoretermostato">
				<label for="sensoretermostato">
					Sensore utilizzato dal termostato
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-sensoretermostato">
						{{caldaia_dettaglio.sensoretermostato}}
					</p>
				</div>
			</div>
			<div class="form-group  field-timescheduler">
				<label for="timescheduler">
					Intervallo letture
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-timescheduler">
						{{caldaia_dettaglio.timescheduler}}
					</p>
				</div>
			</div>
			<div class="form-group  field-isteresi">
				<label for="isteresi">
					Isteresi
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-isteresi">
						{{caldaia_dettaglio.isteresi}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

