<template name="Sensori">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> SensoriView}}
	</div>
</template>

<template name="SensoriView">
	<div id="sensori-view" class="">
		<h2 id="component-title">
			Configurazione sensori
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> SensoriViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			Nessun sensore
		</div>
		{{/if}}
	</div>
</template>

<template name="SensoriViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="location">
					Location
				</th>
				<th class="th-sortable" data-sort="note">
					Note
				</th>
				<th class="th-sortable" data-sort="tipo">
					Tipo
				</th>
				<th class="th-sortable" data-sort="temp">
					Temperature
				</th>
				<th class="th-sortable" data-sort="hum">
					Humidity
				</th>
				<th>
					Attivo?
				</th>
				<th>
					Schedulazione lettura dati  (secondi)
				</th>
				<th>
					Acceso?
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> SensoriViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="SensoriViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{location}}
		</td>
		<td>
			{{note}}
		</td>
		<td>
			{{tipo}}
		</td>
		<td>
			{{temp}}
		</td>
		<td>
			{{hum}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="active" {{checked active}}>
		</td>
		<td>
			{{timescheduler}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="on" {{checked on}}>
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

